/**results right styling**/
.resultsButton, .resultsButtonRolled {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
  height: 3vw;
  position: absolute;
  right: -3.18vw;
  top: 7vw;
  width: 9.4vw;
  /*-webkit-transition-duration: 0.4s;*/
  /* Safari */
  /*transition-duration: 0.4s;*/
  -webkit-transform: rotate(-90deg);
  /* Safari */
  transform: rotate(-90deg);
}

.resultsButton {
  background-color: rgba(14, 71, 204, 0.8);
}

.resultsButtonRolled {
  background-image: url('./imgs/consoleTexture.png');
  background-repeat: repeat;
}

.resultsButton:hover {
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.8), 0 17px 50px 0 rgba(0, 0, 0, 0.6);
}

/*.resultsButtonRolled:hover {
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.8), 0 17px 50px 0 rgba(0, 0, 0, 0.6);
}*/

.resultsButton img, .resultsButtonRolled img {
  width: 9vw;
}

/*.resultsFrameInvisible {
  display: none;
}*/

.resultsFrame {
/*, .resultsFrameRolled {*/
  background-color: white;
  height: 100%;
  position: absolute;
  right: 7%;
  top: 0%;
  width: 86%;
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}

.resultsFrame {
  /*opacity: 1;*/
}

.resultsFrameRolled {
  /*opacity: 0;*/
  /*visibility: hidden;*/
}


/* message console */


/*Message will stay on the screen by default */

.popup, .popupHidden {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url('./imgs/consoleTexture.png');
  border-bottom-left-radius: 12px;
  color: #FFFFFF;
  /*font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
  /*font-size: 14px;*/
  height: 40%;
  /*margin: 0px;*/
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  text-align: center;
  top: 14vw;
  width: 15vw;
  /*-webkit-animation-duration: var(--transition-duration);
  animation-duration: var(--transition-duration);*/
  -webkit-transition-duration: var(--transition-duration);
  /* Safari */
  transition-duration: var(--transition-duration);
}

.popup p, .popupHidden p {
  padding: 10px;
}

.popup {
  right: 0px;
  -webkit-animation-name: rollButtonSide;
  animation-name: rollButtonSide;
}

/*Messages will disappear off the screen when clicked on */
.popupHidden {
  /*-webkit-animation-duration: 0s;
  animation-duration: 0s;*/
  -webkit-animation-name: rollButtonOff;
  animation-name: rollButtonOff;
  right: -15vw;
}

.moveButtonHidden, .moveButtonShow {
  background-color: #008fb3;
  border: 2px solid white;
  border-radius: 12px;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-weight: bold;
  height: 50px;
  line-height: 120%;
  margin: 20px 20px 30px 20px;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 150px;
}

.moveButtonHidden {
  display: none;
}

.moveButtonShow {
  cursor: pointer;
  display: inline-block;
}

/*By default, the dialogue button stays on the screen */
.dialogueButton, .dialogueButtonRolled {
  /*-webkit-animation-duration: 0s;
  animation-duration: 0s;*/
  -webkit-animation-name: rollButtonSide;
  animation-name: rollButtonSide;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url('./imgs/consoleTexture.png');
  background-repeat: repeat;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  height: var(--left-console-button-length);
  position: absolute;
  right: 12%;
  top: 14vw;
  -webkit-transition-duration: var(--transition-duration);
  /* Safari */
  transition-duration: var(--transition-duration);
  width: 6vw;
}
/*Dialogue button will roll off the screen when clicked on*/
.dialogueButtonRolled{
  bottom: 0px;
  right: -3%;
  -webkit-animation-name: rollButtonOff;
  animation-name: rollButtonOff;
  /*-webkit-animation-duration: 0s;
  animation-duration: 0s;*/
}

.dialogueButton img, .dialogueButtonRolled img {
  width: 2.5vw;
  margin: 0.25vw;
}

.backgroundInfoButton, .backgroundInfoButtonRolled {
  background-image: url('./imgs/consoleTexture.png');
  cursor: pointer;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-repeat: repeat;
  /*overflow-y: auto;*/
  /*overflow-x: hidden;*/
  position: absolute;
  top: 36vw;
  -webkit-transition-duration: var(--transition-duration);
  /* Safari */
  transition-duration: var(--transition-duration);
  width: 3vw;
}

.backgroundInfoButton {
  /*-webkit-animation-duration: 0s;
  animation-duration: 0s;*/
  -webkit-animation-name: rollUp;
  animation-name: rollUp;
  /*border-radius: 0px;
  border-right: 0px solid #F0A61D;*/
  /*padding: 0px;*/
  right: 15vw;
  /*top: 36vw;*/
}

.backgroundInfoButtonRolled {
  -webkit-animation-name: rollDown;
  animation-name: rollDown;
  /*-webkit-animation-duration: 0s;
  animation-duration: 0s;*/
  right: 0%;
  /*top: 300px;*/
  /*top: 36vw;*/
}

.backgroundInfoButton img, .backgroundInfoButtonRolled img {
  width: 2.5vw;
  margin: 0.25vw;
}

.backgroundInfoBox, .backgroundInfoBoxRolled {
  /*border-radius: 0px;*/
  /*border-right: 0px solid #F0A61D;*/
  /*border-top-left-radius: 0px;*/
  border-bottom-left-radius: 12px;
  background-repeat: repeat;
  background-image: url('./imgs/consoleTexture.png');
  overflow-y: auto;
  overflow-x: hidden;
  /*padding: 0px;*/
  position: absolute;
  top: 36vw;
  width: 15vw;
  height: 17%;
  right: 0%;
}

.backgroundInfoBox {
  /*-webkit-animation-duration: 5s;
  animation-duration: 5s;*/
  -webkit-animation-name: rollUp;
  animation-name: rollUp;
  right: 0%;
  -webkit-transition-duration: var(--transition-duration);
  /* Safari */
  transition-duration: var(--transition-duration);
}

.backgroundInfoBoxRolled {
  /*-webkit-animation-duration: 5s;
  animation-duration: 5s;*/
  -webkit-animation-name: rollDown;
  animation-name: rollDown;
  right: -15vw;
  /*top: 36vw;*/
  -webkit-transition-duration: var(--transition-duration);
  /* Safari */
  transition-duration: var(--transition-duration);
}

/*This one moves just fine */
.indexPopupText {
  position: relative;
  text-align: center;
  color: white;
  /*top: 10px;*/
  padding: 10px;
}

/*.indexPopupText p {
}*/

/*.indexPopupTextHidden {
  visibility: hidden;
}*/


/* animation for popup */
@keyframes rollUp {
  0% {
    right: -12vw;
  }
  100% {
    right: 0%;
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes rollUp {
  0% {
    right: -12vw;
  }
  100% {
    right: 0%;
  }
}

@keyframes rollDown {
  0% {
    right: 0%;
  }
  100% {
    right: -12vw;
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes rollDown {
  0% {
    right: 0%;
  }
  100% {
    right: -12vw;
  }
}

/*Animation for backgroundInfoButton*/
@keyframes rollButtonSide{
  0% {
    right: 0%;
  }
  100% {
    right: 0vw;
  }
}
@-webkit-keyframes rollButtonSide{
  0% {
    right: 0%;
  }
  100% {
    right: 0vw;
  }
}
@keyframes rollButtonOff{
  0% {
    right: 2vw;
  }
  100% {
    right: 0%;
  }
}
@-webkit-keyframes rollButtonOff{
  0% {
    right: 2vw;
  }
  100% {
    right: 0%;
  }
}

/* animation for dialogueButton */
@keyframes rollButtonUp {
  0% {
    right: 0%;
  }
  100% {
    right: 12vw;
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes rollButtonUp {
  0% {
    right: 0%;
  }
  100% {
    right: 12vw;
  }
}

@keyframes rollButtonDown {
  0% {
    right: 12vw;
  }
  100% {
    right: 0%;
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes rollButtonDown {
  0% {
    right: 12vw;
  }
  100% {
    right: 0%;
  }
}

/* responsive web design. When the window size gets smaller than 600x400 */
@media screen and (max-width: 600px), screen and (max-height: 400px) {
  .resultsButton, .resultsButtonRolled {
    font-size: 20px;
    height: 18px;
    top: 64px;
    width: 54px;
  }
  .resultsButtonRolled {
    right: -18px;
  }
  .resultsButton img, .resultsButtonRolled img {
    height: 15.4px;
    width: 54px;
  }
  .dialogueButton, .dialogueButtonRolled {
    height: 18px;
    width: 18px;
    top: 108px;
  }
  .dialogueButtonRolled {
    right: 0px;
  }
  .dialogueButton {
    right: 72px;
  }
  .dialogueButton img, .dialogueButtonRolled img {
    height: 10px;
    margin: 4px;
    width: 12px;
  }
  .backgroundInfoButton, .backgroundInfoButtonRolled{
     height: 18px;
    width: 18px;
    top: 108px;
  }

  .backgroundInfoButton{
    right: 72px;
  }

  .backgroundInfoButton img, .backgroundInfoButtonRolled img {
    height: 10px;
    margin: 4px;
    width: 12px;
  }
  .popup, .popupHidden {
    font-size: 6px;
    height: 200.5px;
    top: 108px;
    width: 72px;
  }
  .popup {
    right: 0px;
  }
  .popupHidden {
    right: -72px;
  }
  /* animation for popup */
  @keyframes rollUp {
    0% {
      right: -72px;
    }
    100% {
      right: 0;
    }
  }
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes rollUp {
    0% {
      right: -72px;
    }
    100% {
      right: 0;
    }
  }

  @keyframes rollDown {
    0% {
      right: 0;
    }
    100% {
      right: -72px;
    }
  }
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes rollDown {
    0% {
      right: 0;
    }
    100% {
      right: -72px;
    }
  }

  /* animation for dialogueButton */
  @keyframes rollButtonUp {
    0% {
      right: 0;
    }
    100% {
      right: 72px;
    }
  }
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes rollButtonUp {
    0% {
      right: 0%;
    }
    100% {
      right: 72px;
    }
  }

  @keyframes rollButtonDown {
    0% {
      right: 72px;
    }
    100% {
      right: 0;
    }
  }
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes rollButtonDown {
    0% {
      right: 72px;
    }
    100% {
      right: 0;
    }
  }
}
