/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END CSS RESET */

body {
	background-color: #FFFFFF;
	margin: 0;
	overflow: hidden;
	}
	
	
.devConsole {
    position: absolute;
    background-color: rgba(159, 197, 209, 0.5);
    right: 0px;
    width: 200px;
    height: 300px;
    padding: 10px;
}

.resultsButton {
    position:absolute;
    top:150px;
    right:0px;
    background-color: rgba(14,71,204,0.8) ;
    
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height:40px;
    width:140px;
    
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}

.resultsButtonFar {
    position:absolute;
    top:150px;
    right:85%;
    background-color: rgba(14,71,204,0.8) ;
    
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height:40px;
    width:140px;
    
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}

.resultsButton:hover{
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
}


.resultsButtonRolled {
    position:absolute;
    top:150px;
    right:-100px;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height:40px;
    width:140px;
    
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}

.resultsButtonRolled:hover{
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
}



.left-Elements {
    position: absolute ;
    left: 0px;
    top:150px;
    width:115px;
    
}

.landUseConsole {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 12px;
    left: 0px;
    top:150px;
    width:115px;
    height:435px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}



.landUseConsoleRolled {
    position: absolute;
    background-color: rgba(6, 153, 75, 0.4);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 12px;
    left: -115px;
    top:150px;
    width:115px;
    height:435px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.landSelectorIcon {
    border-radius: 50% ;
    height:40px;
    width:40px;
    margin: 6px ;
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
   
}

.landSelectorIcon:hover {
    box-shadow: 0px 0px 5px 5px rgba(200,120,18,0.3), 0 17px 50px 0 rgba(227,154,18,0.2);
}

.landSelectedIcon {
    border-radius: 50% ;
    height:40px;
    width:40px;
    margin: 6px ;
    box-shadow: 0px 0px 16px 5px rgba(14,71,204,0.5), 0 17px 50px 0 rgba(14,71,204,0.4);
}

.landSelectedIcon:hover {
    box-shadow: 0px 0px 25px 0px rgba(20,80,214,0.8), 0 17px 50px 0 rgba(30,90,224,0.6);
}

.toolsButton {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    top: 150px;
    left: 115px;
    width:40px;
    height:40px ;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.toolsButtonRolled {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    top: 150px;
    left: 0px;
    width:40px;
    height:40px ;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}

.toolsButtonRolled:hover{
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
}

.toolsButton:hover{
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
}

.precipConsole {
    position: absolute;
    background-color: rgba(6, 153, 75, 0.4);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 12px;
    left: 0px;
    top: 150px;
    width: 115px;
    height: 260px;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.precipConsoleRolled {
    position: absolute;
    background-color: rgba(6, 153, 75, 0.4);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 12px;
    left: -115px;
    top:150px;
    width:115px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.precipButton {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 3px;
    top: 300px;
    left: 115px;
    width:40px;
    height:40px ;
    transition-property: none;
    transition-property: left;
    border-right: 0px solid #F0A61D;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.terrainButton {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    top: 260px;
    left: 115px;
    width:40px;
    height:40px ;
    transition-property: none;
    transition-property: left;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.imgSelected {
    border-right: 2px solid #F0A61D;
}

.imgNotSelected {
    border-right: 0px solid #F0A61D;
}

.terrainButtonRolled {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    top: 260px;
    left: -60px;
    width:40px;
    height:40px ;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.terrainButtonSelected {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    top: 256px;
    left: 115px;
    width:40px;
    height:40px ;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.terrainButton:hover{
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
}

.precipButtonRolled {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    left: -60px;
    top: 300px;
    width:40px;
    height:40px ;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}

.precipButtonRolled:hover{
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
}

.precipButton:hover{
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
}

.style-select {
    padding:3px;
    margin: 8px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
    background: #3b3b3b;
    color:#fff;
    display:inline-block;
    border:none;
    outline:none;
    cursor:pointer;
    text-align:center;
}

.precipTitle {
    padding:3px;
    margin: 4px;
    color:#fff;
    text-align:center;
}

.resultsFrameInvisible{
    display:none;
     
}

.resultsFrameRolled{
    position:absolute;
    width:70%;
    height:80%;
    right:-75%;
    top: 10%;
    background-color: white;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    
    
}

.resultsFrame{
    position:absolute;
    width:70%;
    height:80%;
    right:15%;
    top: 10%;
    background-color: white;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    
    
}

.resultsTable{
    width:100%;
    
}

td{
    margin: 10px;
    text-align: left;
    
}

.year0Button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    top: 400px;
    right: 0px;
    width:40px;
    height:40px ;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.year1Button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    top: 450px;
    right: 0px;
    width:40px;
    height:40px ;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.year2Button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    top: 500px;
    right: 0px;
    width:40px;
    height:40px ;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.year3Button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    top: 550px;
    right: 0px;
    width:40px;
    height:40px ;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.yearSelected {
    border-left: 2px solid #F0A61D;
}

.yearNotSelected {
    border-left: 0px solid #F0A61D;
}

.levelsButton {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 3px;
    top: 340px;
    left: 115px;
    width:40px;
    height:40px ;
    transition-property: none;
    transition-property: left;
    border-right: 0px solid #F0A61D;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.levelsButtonRolled {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    left: -60px;
    top: 340px;
    width:40px;
    height:40px ;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}

.levelsConsole {
    position: absolute;
    background-color: rgba(6, 153, 75, 0.4);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 12px;
    left: 0px;
    top: 150px;
    width: 115px;
    height: 260px;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.levelsConsoleRolled {
    position: absolute;
    background-color: rgba(6, 153, 75, 0.4);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 12px;
    left: -115px;
    top:150px;
    width:115px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.levelsButtonRolled:hover{
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
}

.levelsButton:hover{
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
}

.levelsSelectorIcon {
    height:40px;
    width:40px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 40px;
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
}
