/**results right styling**/

.resultsButton, .resultsButtonRolled {
	background-color: rgba(14, 71, 204, 0.8);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	/*height: 40px;*/
	height: 3vw;
	position: absolute;
	/*top: 200px;*/
	top: 10.7vw;
	/*width: 130px;*/
	width: 9.4vw;
	/*-webkit-transition-duration: 0.4s;*/
	/* Safari */
	/*transition-duration: 0.4s;*/
	-webkit-transform: rotate(-90deg);
	/* Safari */
	transform: rotate(-90deg);
}
.resultsButton {
	/*right: -45px;*/
	right: -3.18vw;
}
.resultsButtonRolled {
	background-image: url('./imgs/consoleTexture.png');
	background-repeat: repeat;
	/*right: -45px;*/
	right: -3.18vw;
}
.resultsButton:hover {
	box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.8), 0 17px 50px 0 rgba(0, 0, 0, 0.6);
}
.resultsButtonRolled:hover {
	box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.8), 0 17px 50px 0 rgba(0, 0, 0, 0.6);
}
.resultsFrameInvisible {
	display: none;
}
.resultsFrame, .resultsFrameRolled {
	background-color: white;
	height: 100%;
	position: absolute;
	top: 0%;
	width: 86%;
	right: 7%;
	-webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
}
.resultsFrame {
	opacity: 1;
}
.resultsFrameRolled {
	opacity: 0;
	visibility: hidden;
}

/* message console */

.popup, .popupHidden {
	background-color: rgba(0, 0, 0, 0.7);
	background-image: url('./imgs/consoleTexture.png');
	border-bottom-left-radius: 12px;
	border-top-left-radius: 0px;
	color: #FFFFFF;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	height: 50%;
	margin: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0px;
	position: absolute;
	right: 0px;
	text-align: center;
	/*top: 300px;*/
	top: 18vw;
	width: 12%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-name: rollUp;
	animation-name: rollUp;
}
.popup p, .popupHidden p {
	padding: 10px;
}
@keyframes rollUp {
	0% {
		right: -12%;
	}
	100% {
		right: 0%;
	}
}
@keyframes rollDown {
	0% {
		right: 0%;
	}
	100% {
		right: -12%;
	}
}
.popupHidden {
	position: absolute;
	right: -12%;
	/*top: 300px;*/
	top: 18vw;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-name: rollDown;
	animation-name: rollDown;
}
.moveButtonHidden, .moveButtonShow {
	background-color: #008fb3;
	border: 2px solid white;
	border-radius: 12px;
	color: white;
	cursor: default;
	display: none;
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	font-weight: bold;
	height: 50px;
	line-height: 120%;
	margin: 20px 20px 30px 20px;
	padding: 5px;
	position: relative;
	text-align: center;
	width: 150px;
}
.moveButtonShow {
	display: inline-block;
	position: relative;
}
#popupText {
	position: relative;
}
.dialogueButton, .dialogueButtonRolled {
	background-color: rgba(0, 0, 0, 0.9);
	background-image: url('./imgs/consoleTexture.png');
	background-repeat: repeat;
	border-radius: 0px;
	border-right: 0px solid #F0A61D;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	height: 3vw;
	position: absolute;
	right: 12%;
	top: 18vw;
	width: 3vw;
	/*top: 300px;*/
	/*height: 40px;*/
	/*width: 40px;*/
	-webkit-animation-name: rollButtonUp;
	animation-name: rollButtonUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

.dialogueButtonRolled {
	bottom: 0px;
	right: 0px;
	-webkit-animation-name: rollButtonDown;
	animation-name: rollButtonDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}
@keyframes rollButtonUp {
	0% {
		right: 0%;
	}
	100% {
		right: 12%;
	}
}
@keyframes rollButtonDown {
	0% {
		right: 12%;
	}
	100% {
		right: 0%;
	}
}

/** year buttons, right consol **/

.yearButton {
	background-color: rgba(0, 0, 0, 0.7);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	/*height: 40px;*/
	/*width: 40px;*/
	height: 3vw;
	width: 3vw;
	display: inline-block;
	margin-top: 20px;
	margin-left: 35px;
	border-radius: 50%;
}
.yearSelected {
	border-radius: 50%;
	box-shadow: 0px 0px 16px 5px rgba(14, 71, 204, 0.5), 0 17px 50px 0 rgba(14, 71, 204, 0.4);
}
.yearNotSelected {
	box-shadow: none;
}
.yearButton:hover {
	box-shadow: 0px 0px 5px 5px rgba(240, 166, 29, 0.3), 0 17px 50px 0 rgba(240, 166, 29, 0.1);
}
.yearButtonHidden, .yearImageHidden {
	display: none;
}
#yearPlusButton {
	position: absolute;
	top: 70px;
}
