body {
	background-color: #FFFFFF;
	margin: 0;
	overflow: hidden;
	}
	
	
.devConsole {
    position: absolute;
    background-color: rgba(159, 197, 209, 0.5);
    right: 0px;
    width: 200px;
    height: 300px;
    padding: 10px;
}

.rightButtons {
    position: absolute;
}


.resultsButton {
    position: absolute;
    right: 0px;
    
    background-color: #E39A12; /* Orange */
    border: none;
    color: white;
    padding: 0px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 0px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
    
}

.resultsButton:hover {
    background-color: #FAAA16;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
    right: 0px ;
}