/**

Palette:
#F0A61D - orange 
   rgb(240, 166, 29)
#40A4DF - main Blue, river color
   rgb(64, 164, 223)
#7cc1e9 - lighter Blue highlight
  rgb(124, 193, 233)
#003d4d - darker Blue Selected
  rgb(0, 61, 77)


FONTS:

font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

or

font-family: 'Amatic SC', cursive;


**/

/******CSS RESET*****/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    height:100%;
}

/*END CSS RESET */

/******PAGINATION STYLING*****/

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

body {
    position:fixed;
	width:100%;
	height:100%;
	margin: 0px;
	overflow: hidden;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding:0px;
}

/**left console**/
#leftConsole {
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 12px;
    height:450px;
    position: absolute;
    top:150px;
    width:135px;
   
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.leftConsole{
    left: 0px;
}

.leftConsoleRolled{
    left: -135px;
}

.consoleTab {
    left:0px;
    padding:4px;
}

/**left console buttons**/
.consoleButton {
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-radius: 0px;
    border-right: 0px solid #F0A61D;
    border-top-right-radius: 0px;
    height:40px;
    position: absolute;
    transition-property: none;
    transition-property: left;
    width:40px;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.consoleButton:hover {
    box-shadow: 8px 0px 10px -4px rgba(240,166,29,0.8) ;
}

#undoButton:hover {
    box-shadow: 0 0px 8px 2px rbg(0,0,0,0.8) ;
}
#toolsButton:hover {
    box-shadow: 0 0px 8px 2px rgba(0,0,0,0.8) ;
}

.tabButtons, #toolsButton, #undoButton {
    left: 135px;
    position:absolute;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.tabButtonsRolled {
    left: -60px;
    position:absolute;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#undoButton {
    top: 100px;
    border-bottom-right-radius: 5px ;
    
}

#toolsButton {
    top: 150px;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-right-radius: 5px ;
    
}


#terrainButton {
    top: 220px;
}

#precipButton {
    top: 260px;
}

#yearButton {
    top:300px;
}

#levelsButton {
    top: 340px;
}

#featuresButton {
    top: 380px;
}

#settingsButton {
    top:420px;
}

.imgSelected {
    border-right: 2px solid #F0A61D;
    width:40px;
}

.imgNotSelected {
    width:40px;
    border-right: 0px solid #F0A61D;
}
	
/**inner elements of left console**/

/*terrain selector*/
.landSelectorIcon, .landSelectedIcon {
    border-radius: 50% ;
    height:40px;
    width:40px;
    margin: 6px ;
    margin-left:10px;
    
}

.landSelectorIcon:hover {
    box-shadow: 0px 0px 5px 5px rgba(240, 166, 29, 0.3), 0 17px 50px 0 rgba(240, 166, 29, 0.1);
}

.landSelectedIcon {
box-shadow: 0px 0px 16px 5px rgba(64, 164, 223, 0.5), 0 17px 50px 0 rgba(14,71,204,0.4);
   
}

.landSelectedIcon:hover {
    box-shadow: 0px 0px 25px 5px rgba(124, 193, 233, 0.8), 0 17px 50px 0 rgba(30,90,224,0.6);
}

/*precip selector*/
.styled-select {
    background: #3b3b3b;
    border:none;    
    border-radius:4px;
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
    color:#fff;
    cursor:pointer;
    display:block;
    margin: 8px;
    outline:none;
    padding:3px;
    text-align:center;
    
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
}

#precipTitle, #yearTitle {
    color:#fff;
    margin: 4px;
    padding:3px;
    text-align:center;
}

#precipTab{
    
    color: white;
    font-size: 18px;
    
}

#year0PrecipContainer{
    display:block;
}

select {
    font-size: 14px;
    margin:5px;
}


/*levels map selector*/
.levelColor1, .levelColor2, .levelColor3,
.levelColor4, .levelColor5 {
    height: 15px;
    margin: 10px 0px 10px 10px ;
    width: 15px;
}

.levelColor1 {
    background-color: #e6bb00;
}

.levelColor2 {
    background-color: #c97b08;
}

.levelColor3 {
    background-color: #ad490d;
}

.levelColor4 {
    background-color: #9a3010;
}

.levelColor5 {
    background-color: #871c12;
}

.levelDetailsList, .levelDetailsListRolled {
    margin: 15px 0px 0px 0px ;
    position: absolute;
    background-color: black;
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-radius: 12px;
    top: 80px;
    width: 135px;

    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.levelDetailsList{
    left:180px;
}

.levelDetailsListRolled {
    left: -210px;
}

.levelsText {
    color: #fff;
    margin-top: 5px;
    margin-right:14px;
    text-align: center;
}

.levelsTextDetails {
    color: #fff;
    margin-left: 22px;
    white-space: nowrap;
}

.levelsSelectorIcon, .levelSelectorIconSelected {
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
    height:40px;
    margin: 5px 35px 10px 35px;
    width:40px;
}

.levelsSelectorIcon:hover {
    box-shadow: 0px 0px 5px 5px rgba(240, 166, 29, 0.3), 0 17px 50px 0 rgba(240, 166, 29, 0.1);
}

.levelSelectorIconSelected{
    box-shadow: 0px 0px 16px 5px rgba(64, 164, 223, 0.5), 0 17px 50px 0 rgba(14,71,204,0.4);
}

.levelSelectorIconSelected:hover{
    box-shadow: 0px 0px 25px 0px rgba(124, 193, 233, 0.8), 0 17px 50px 0 rgba(30,90,224,0.6);
}

/*physical features map selector*/
.floodColor1, .floodColor2, .floodColor3, .floodColor4, .floodColor5, .floodColorNone,
.drainageColor1, .drainageColor2, .drainageColor3, .drainageColor4, .drainageColor5,
.drainageColor6, .drainageColor7, .drainageColor8, .soilColor {
    height: 15px;
    margin: 5px 0px 10px 10px;
    width: 15px;

}

.floodColor1 {
    background-color: #ffffc9;
}

.floodColor2 {
    background-color: #c7eab4;
}

.floodColor3 {
    background-color: #7fcebb;
}

.floodColor4 {
    background-color: #41b7c5;
}
.floodColor5 {
    background-color: #2f7eb7;
}

.floodColorNone {
    border: 0px;
}

.drainageColor1 {
    background-color: #0053b3;
}

.drainageColor2 {
    background-color: #38638b;
}

.drainageColor3 {
    background-color: #5e6e71;
}

.drainageColor4 {
    background-color: #837856;
}

.drainageColor5 {
    background-color: #bc892f;
}

.physicalDetailsList, .physicalDetailsListRolled {
    margin: 15px 0px 0px 0px ;
    position: absolute;
    top: 80px;
    width: 150px;
    background-color: black ;
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-radius: 12px;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.physicalDetailsList {
    left:180px;
}

.physicalDetailsListRolled {
    left:-210px;
}

#drainageClassDetailsList {
    width: 170px;
}

#soilClassDetailsList {
    width: 210px;
}

.featureSelectorIcon, .featureSelectorIconSelected, .painterIcon, .painterIconSelected {
    border-radius: 50% ;
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
    height: 40px;
    margin: 5px 35px 10px 35px;
    width: 40px;
}

.painterIcon:hover, .featureSelectorIcon:hover{
    box-shadow: 0px 0px 5px 5px rgba(200,120,18,0.3), 0 17px 50px 0 rgba(227,154,18,0.2);
}

.featureSelectorIconSelected:hover, .painterIconSelected:hover {
    box-shadow: 0px 0px 25px 0px rgba(20,80,214,0.8), 0 17px 50px 0 rgba(30,90,224,0.6);
} 

.featureSelectorIconSelected {
      box-shadow: 0px 0px 16px 5px rgba(14,71,204,0.5), 0 17px 50px 0 rgba(14,71,204,0.4);
}

.painterIconSelected{
      box-shadow: 0px 0px 16px 5px rgba(14,71,204,0.5), 0 17px 50px 0 rgba(14,71,204,0.4);
}

.featuresText {
    color: #fff;
    text-align: center;
    margin-right:14px;
    margin-top: 5px;
    
}

/**Index Button on screen Styling**/
.indexmenu{
    background-image: url('./imgs/consoleTexture.png');
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: default;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    height: 30px;
    margin-top: 100px;
    padding: 5px;
    text-align: center;
    width: 100px;
    position: absolute;
    background-repeat: repeat;    
}

.indexmenu:hover{
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
}

/**results right styling**/

.resultsButton, .resultsButtonRolled {
    background-color: rgba(14,71,204,0.8) ;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height:40px;
    position:absolute;
    top:200px;
    width:130px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
}

.resultsButton {
    right:-45px;
}

.resultsButtonRolled {
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    right:-45px;
}


.resultsButton:hover{
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
}

.resultsButtonRolled:hover{
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.6);
}

.resultsFrameInvisible{
    display:none;
     
}

.resultsFrame, .resultsFrameRolled{
    background-color: white;
    height:100%;
    position:absolute;
    top: 0%;
    width:86%;
    right:7%;
  -webkit-transition-duration: 0.9s; 
    transition-duration: 0.9s; 
}

.resultsFrame{
    opacity: 1;
}

.resultsFrameRolled{
    opacity: 0;
    visibility:hidden;
}

/** year buttons, right consol **/

.yearButton {
    
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height:40px ;
    width:40px;
    display: inline-block;
    margin-top:20px;
    margin-left:35px;
    border-radius:50%;
}

.yearSelected {
    border-radius:50%;
    box-shadow: 0px 0px 16px 5px rgba(14,71,204,0.5), 0 17px 50px 0 rgba(14,71,204,0.4);
}

.yearNotSelected {
     box-shadow: none;
}

.yearButton:hover {
   box-shadow: 0px 0px 5px 5px rgba(240, 166, 29, 0.3), 0 17px 50px 0 rgba(240, 166, 29, 0.1);
}

.yearButtonHidden, .yearImageHidden {
    display:none;
}

#yearPlusButton{
    position:absolute;
    top:70px;
}

/** Other elements **/

.upperButton, #logoBase {
    position: absolute ;
    top:5px;
    
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}

.upperButton:hover {
    border-bottom: 2px groove white;
    
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}

#creditsButton{
    right: 2px;
}

#uploadDownloadButton {
    right: 42px;
}

#logoBase {
    right: 82px;
}

.closeButton{
    height:40px;
    position:absolute;
    width:40px;
    
     -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}

.closeButton:hover{
    height:35px;
    margin-right:2px;
    margin-top:2px;
    width:35px;
    
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}

#closeUploadDownload{
    position:fixed;
    left: 50%;
    padding-left:140px;
    top: 21%;
}

#closeCredits{
    right: 26%;
    top: 21%;
}

#closeResults {
    top:4%;
    
    -webkit-transition-duration: .2s; /* Safari */
    transition-duration: .2s;
}

#uploadDownloadFrame{
    
    height:200px;
    position:absolute;
    top: 20%;
    width:40% ;
    left:30%;
}

#creditsFrame{
    background-color: white;
    border-radius:10px;    
    height:60%;
    position:absolute;
    right:25%;
    top: 20%;
    width:50%;
}

#bottomHUD{
    bottom:0;
    color: white;
    font-size: 20px;
    height: 20px;
    margin-top: -50px;
    padding: 10px;
    position:absolute;
    width: 100%;
}


#index{
    border-radius:40px;
    display:none;
    height:700px;
    left:50%;
    margin-left:-500px;
    margin-top:-350px;
    position:absolute;
    top:50%;
    width:1000px;

    -webkit-box-shadow: 0px -2px 120px 80px rgba(0,0,0,1);
    -moz-box-shadow: 0px -2px 120px 80px rgba(0,0,0,1);
    box-shadow: 0px -2px 50px 12px rgba(0,0,0,1);
}

#modalCodexFrame {
    background-color: rgba(0,0,0,0.7);
    display: none;
    height:100%;
    position: fixed;
    width:100%;
}


#loading {
    position:absolute;
    width:100%;
    height:100%;
    background:black;
}

#loadingContainer {
    color: #FFFFFF;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px ;
    height:200px;
    left:50%;
    line-height: 130%;
    margin-top:-100px;
    margin-left:-100px;
    padding-left:25px;
    position:absolute;
    top:50%;
    width:200px;
}

/* message console */
.popup, .popupHidden {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url('./imgs/consoleTexture.png');
  border-bottom-left-radius: 12px;
  border-top-left-radius: 0px;
  color: #FFFFFF;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
  font-size: 20px ;
  height:50%;
  margin: 0px;
  overflow-y:auto;
  overflow-x:hidden;
  padding: 0px;
  position:absolute;
  right:0px;
  text-align:center;
  top:300px;
  width:12%;
 
  
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: rollUp;
  animation-name: rollUp;
}

.popup p, .popupHidden p {
    padding:10px;
}

@keyframes rollUp {
  0% {
    right: -12%;
  }
  100% {
    right: 0%;
  }
}

@keyframes rollDown {
  0% {
    right: 0%;
  }
  100% {
    right: -12%;
  }
}

.popupHidden {
  position:absolute;
  right: -12%;
  top: 300px;
 
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: rollDown;
  animation-name: rollDown;
}

.moveButtonHidden, .moveButtonShow {
    background-color: #008fb3 ;
    border: 2px solid white;
    border-radius:12px;
    color: white ;
    cursor: default ;
    display:none;
    font-family: 'Amatic SC', cursive;
    font-size: 40px ;
    font-weight: bold;
    height:50px ;
    line-height: 120%;
    margin: 20px 20px 30px 20px ;
    padding: 5px; 
    position:relative;
    text-align:center;
    width:150px;
}

.moveButtonShow {
    display:inline-block;
    position:relative;
}

#popupText {
    position:relative;
}

.dialogueButton, .dialogueButtonRolled {
    background-color: rgba(0,0,0,0.9);
    background-image: url('./imgs/consoleTexture.png');
    background-repeat:repeat;
    border-radius: 0px;
    border-right: 0px solid #F0A61D;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height:40px;
    position:absolute;
    right:12%;
    top:300px;
    width:40px;
    
    -webkit-animation-name: rollButtonUp;
    animation-name: rollButtonUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.dialogueButtonRolled {
    bottom:0px;
    right: 0px;
    
    -webkit-animation-name: rollButtonDown;
    animation-name: rollButtonDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@keyframes rollButtonUp {
  0% {
    right: 0%;
  }
  100% {
    right: 12%;
  }
}

@keyframes rollButtonDown {
  0% {
    right: 12%;
  }
  100% {
    right: 0%;
  }
}

/*bird thing, meadowlark styling*/
.meadowlarkhidden {
    display:none ;
    left: -800px;
    padding-right: 0px;
    position: absolute;
    text-decoration: none;
    top:40%;
}

.meadowlarkfly {
    left: 150%;
    padding-right: 0px;
    position: absolute;
    text-decoration: none;
    top: 40%;
    
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-name: fly;
    animation-name: fly;
}

@keyframes fly {
    0% {
        left: -620px;
        top: 40%;
    }
    100% {
        left: 150%;
        top: 0%;
    }
}

/* Some of the iframes */

#options, #multiplayer{
    height:100%;
    left:0px;
    position:fixed;
    top:0px;
    visibility: hidden ;
    width:100%;
}

/* Escape Menu and Buttons */

.mainEscapeButton, .unclickableMainEscapeButton {
   background-color: #40A4DF ;
   border: 2px solid white;
   border-radius:12px;
   color: #FFFFFF;
   cursor: default ;
   font-family: 'Amatic SC', cursive;
   font-size: 40px ;
   font-weight: bold;
   margin-bottom: 20px;
   height:50px ;
   line-height:120%;
   margin:0px 0px 20px 0px;
   padding:5px;
   text-align:center;
   width:200px;
}

.unclickableMainEscapeButton {
    background-color: #003d4d;
}

.mainEscapeButton:hover {
    background-color: #7cc1e9 !important;
}
   
#exitToMenuButton{
   animation-duration: 1.2s;
   animation-name: showEffect;
   visibility: hidden;
   -webkit-transition-duration: 1.2s; /* Safari */
}
   
#optionsButton{
   animation-duration: 0.8s;
   animation-name: showEffect;
   visibility: hidden;
   -webkit-transition-duration: 0.8s; /* Safari */
}
   
#directoryButton{
    animation-duration: 0.4s;
    animation-name: showEffect;
    visibility: hidden;
    -webkit-transition-duration: 0.4s; /* Safari */
}

#escapeMenu{
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -150px;
    position: absolute;
    top: 25%;
    width: 300px;
}


@keyframes showEffect {
	from  {  opacity: 0; }
	to {  opacity: 1; }
}

@keyframes hideEffect {
    from { opacity: 1; }
    to { opacity: 0; }
}

#confirmEscape {
  background-color: rgba(0,0,0,0);
  border-radius: 6px;
  display: inline-block;
  height: 0px;

  margin-left: -20px;
  overflow: hidden;
  position: relative;
  width: 250px;
  font-family: 'Amatic SC', cursive;
  text-align:center;
  line-height: 130%;
  color: #FFFFFF;
  font-size: 30px ;
  font-weight: bold;
  
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

#yesConfirmEscape {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

#noConfirmEscape {
    margin: 0 auto;
}

#modalUploadFrame, #modalEscapeFrame, #modalCreditsFrame, #modalResultsFrame {
    background-color: rgba(0,0,0,0.7);
    display: none;
    height:100%;
    position: fixed;
    width:100%;
    
    animation-duration: 1.0s;
    animation-name: showEffect;
}

#hover-div{
    background: none !important;
    border-radius: 100%;
    color: #003d4d;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px ;
    height: 100px;
    left: 48.85%;
    pointer-events: none;
    position: fixed;
    top: 49%;
    width: 250px;
}
