.flyer-builder {
	position: relative;
	height: 100%;


	& iframe,
	.no_iframe {
		width:100%;
		height:400px;
		border:1px solid #666;
		background-color: #ddd;
	}

	& .no_iframe {
		& > div {
			//margin:0 .3em;
			width:80%;
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			font-weight: normal;
		}
	}

	@media all and (min-width:768px) {
		& .btn.btn-block {
			display: inline;
			width: auto;
		}
	}
}
