/**
 * @Last modified time: 2017-06-09T11:50:21-05:00
 */


/* css variable declaration */

:root {
  --button-font-size: 2.6vw;
  --main-button-height: 3.5vw;
  --button-width: 12vw;
  --font-size: 1.2vw;
  /*--transition-duration: 0.4s;*/
}


/** Common Elements
 -------------------------
 **/

* {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}

.mainButton {
  background-color: #40A4DF;
  border: 2px solid white;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
  font-size: var(--button-font-size);
  font-weight: bold;
  line-height: 130%;
  padding: 5px;
  position: absolute;
  text-align: center;
}

.mainButton:hover {
  background-color: #7cc1e9;
}

.mainButtonNoHover {
  /*all: inherit;*/
}

.mainButtonNoHover:hover {
  background-color: #40A4DF;
}

.uploadFile>input {
  display: none;
}

#backButton {
  cursor: pointer;
  display: inline-block;
  left: 10%;
  top: 1%;
  padding: 5px;
  position: relative;
}

#backButton:hover {
  border-bottom: 2px solid white;
}


/** Start Up
 -------------------------
 **/

#startupBackgroundImage {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  display: block;
  opacity: 0;
  border: 0px;
  -webkit-transition-duration: 4s;
  transition-duration: 4s;
}

#startupContent {
  position: fixed;
  opacity: 0;
}

#pewiTitle {
  position: fixed;
  width: 25vw;
  padding: 0px;
  top: 20%;
  left: 35%;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

#startupContentsHolder {
  position: fixed;
  display: block;
  margin-top: -250px;
  padding: 0;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 500px;
  border-radius: 0px;
}

#startupInformationText {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #FFFFFF;
  opacity: 0;
  -webkit-transition-duration: 4s;
  transition-duration: 4s;
}

#startupLoadingContainer {
  position: absolute;
  width: 800px;
  height: 600px;
  margin: 0px;
  padding: 0px;
  margin-left: -400px;
  left: 50%;
  margin-top: -300px;
  top: 50%;
}

#startupLoadingTitle {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  line-height: 85%;
  color: #FFFFFF;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 40px;
  top: 50px;
}

#startupButton1, #startupButton2, #startupButton3 {
  margin-top: -25px;
  padding: 0;
  top: 50%;
  width: 15%;
}

#startupButton1 {
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
}

#startupButton2 {
  left: 25%;
  -webkit-transition-duration: 2.2s;
  transition-duration: 2.2s;
}

#startupButton3 {
  left: 50%;
  -webkit-transition-duration: 2.9s;
  transition-duration: 2.9s;
}

#startupDialogueOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0px;
  border: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#startVideo {
  position: fixed;
  margin-top: -350px;
  margin-left: -220px;
  left: 50%;
}


/** Upload Download Frame
 -------------------------
 **/

#uploadDownloadHolder {
  background: #40A4DF;
  border-radius: 8px;
  left: 50%;
  margin: 0 5px 5px -125px;
  padding: 0px;
  position: fixed;
  width: 250px;
}

#downloadTable {
  border-collapse: collapse;
  height: 100%;
  margin-top: 10px;
  width: 100%;
}

.uploadDownloadText {
  color: white;
  font-size: 45px;
  padding: 10px 0px 10px 15px;
  text-align: left;
}

.uploadDownloadButton {
  height: 40px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

#downloadButton:hover {
  border-bottom: 5px solid white;
}

#uploadButton:hover {
  border-top: 5px solid white;
}


/** Credits (About) Frame
 -------------------------
 **/

.aboutLinks {
  transition: color .4s;
  color: #265C83;
}

.aboutLinks:link {
  text-decoration: none;
}

.aboutLinks:visited {
  color: #265C83;
}

.aboutLinks:hover {
  color: #7FDBFF;
}

.aboutLinks:active {
  transition: color .3s;
  color: #007BE6;
}


/** Utilities Frame
 -------------------------
 **/

#levelDesignerButton, #setupButton, #aggregateButton, #addFile, #downloadFile, #simulationButton, #goalOptimizationButton {
  display: inline-block;
  margin-top: 7%;
  position: relative;
}

#levelDesignerButton, #setupButton, #aggregateButton, #simulationButton, #goalOptimizationButton {
  width: 96.2%;
  /*width: 400px;*/
}

#addFile, #downloadFile {
  /*height: 40px;*/
  line-height: 90%;
  margin-left: 17px;
  margin-left: 4.1%;
  width: 84.1%;
}

.infoBar {
  background-color: white;
  color: #000000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.5vw;
  /*height: 50px;*/
  line-height: 220%;
  margin-top: 2vw;
  text-align: center;
  width: 100%;
}

#utilitiesContentsHolder {
  height: 100%;
  width: 25%;
  margin: 0 auto;
}

#utilitiesAggregateTools {
  background-color: #003d4d;
  border-radius: 6px;
  display: inline-block;
  height: 0px;
  margin-left: 2.4%;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  width: 96.2%;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

#div-fileList {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+24,0a77d5+50,539fe1+79,87bcea+100;Blue+Pipe+%231 */
  background: rgb(208,228,247); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(208,228,247,0.8) 0%, rgba(115,177,231,0.8) 24%, rgba(10,119,213,0.8) 50%, rgba(83,159,225,0.8) 79%, rgba(135,188,234,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(208,228,247,0.8) 0%,rgba(115,177,231,0.8) 24%,rgba(10,119,213,0.8) 50%,rgba(83,159,225,0.8) 79%,rgba(135,188,234,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(208,228,247,0.8) 0%,rgba(115,177,231,0.8) 24%,rgba(10,119,213,0.8) 50%,rgba(83,159,225,0.8) 79%,rgba(135,188,234,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */

  border: aqua;
  border-radius: 30px;
  display: none;
  left: 65vw;
  margin: 1vw;
  padding: 1.5vw;
  position: absolute;
  top: 30vw;
}


/** MultiDownload (multiplayer setup) Frame
 -------------------------
 **/

#multiplayerDownloadButton, #multiplayerExitButton {
  display: inline-block;
  margin-top: 40px;
  position: relative;
  width: 400px;
}

#title, #addPlayer, #subtractPlayer, #playerNumber {
  cursor: default;
  display: inline-block;
}

#multiplayerPlayerNumberParameter {
  border: 3px solid white;
  display: inline-block;
  padding: 15px 30px 15px 30px;
  position: relative;
  margin: 50px 20px 20px 25px;
  width: 300px;
}

#multiplayerPlayerNumberParameter:hover {
  /** This isn't a button, so please, let's not highlight it
          and mislead people :) **/
  background-color: #40A4DF;
}

#multiplayerInfoText {
  background-color: white;
  border-radius: 6px;
  color: #000000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  height: 240px;
  line-height: 110%;
  margin-top: 35px;
  padding: 10px;
  text-align: left;
  width: 100%;
}


/**Email sending dialog**/

.text {
  width: 300px;
  height: 30px;
  font-size: 17px;
  font-family: sans-serif;
}

.mess {
  height: 170px;
  width: 450px;
  font-family: sans-serif;
  font-size: 17px;
}

.btn {
  padding: 10px 32px;
  font-family: sans-serif;
  font-size: 15px;
}


/** Play Frame
 -------------------------
 **/

.playGroupContainer {
  position: absolute;
}

.cloud {
  cursor: pointer;
  float: left;
  height: 7vw;
  position: relative;
  width: 10vw;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}

.cloud p {
  color: #40a4df;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 300%;
  left: 33%;
  margin: 3%;
  position: absolute;
  top: 15%;
}

.cloud:hover {
  margin-top: 5px;
}

.cloudSpacer {
  float: left;
  height: 25px;
  position: relative;
  width: 50px;
}

@media screen and (min-width: 1281px) {
  #pewiTitle {
    left: 46%;
  }
  #startupInformationText {
    left: 52%;
  }
}
