/* css variable declaration */

:root {
  --button-font-size: 2.5vw;
  /* 20px */
  --button-height: 1vw;
  --button-width: 12vw;
  /* 250px */
  --font-size: 1.2vw;
  /*--transition-duration: 0.4s;*/
}

body {
  background-color: #000000;
}


/** Options Frame
  -------------------------
  **/

  #optionsBackroundImage {
   bottom: 0px;
   left: 0px;
   margin: 0px;
   padding: 0px;
   position: fixed;
   width: 100%;
  }

  #optionsMainHolder {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   margin: 0px 15% 0px 15%;
   top: 0px;
   padding-bottom: 0px;
   position: absolute;
  }

  .optionsSubContainer {
   position: relative;
   margin: 30px;
   margin-top: 0px;
  }



  .optionsHeader {
   color: #FFFFFF;
   font-family: 'Amatic SC', cursive;
   font-size: 35px;
   font-weight: bold;
   margin-left: 45px;
   margin-right: 45px;
   padding: 5px;
   width: 600px;
  }

  input {
    position: absolute;
    left: -9999px;
    color: white;
  }

  .hkInputs1, .hkInputs2, .minInput, .maxInput, .actualMinInput, .actualMaxInput {
    position: absolute;
    border: 0;
    color: white;
  }

  .hkInputs1 {
    left: 72%;
    top:0px;
  }

  .hkInputs2 {
    left: 85%;
  }

  .minInput {
    left: 40%;
    width: 33px;
  }

  .maxInput {
    left: 52%;
    width: 33px;
  }

  .actualMinInput {
    left: 64%;
    width: 60px;
  }

  .actualMaxInput {
    left: 83%;
    width: 60px;
  }

  .actualMaxUnit, .minUnit, .maxUnit, .actualMinUnit {
    position: absolute;
    font-size: 12px;
    color: #a9a9a9;
    line-height: 1.9;
    text-indent: 0;
  }

  .actualMaxUnit {
    left: 92%;
  }

  .minUnit {
    left: 45.1%;
  }

  .maxUnit {
    left: 57.2%;
  }

  .actualMinUnit {
    left: 73%;
  }

  .hkDivs, .progressbarItems {
    position: relative;
    height: 25px;
    text-indent: 5%;
    color: white;
  }

  .maxYearOptions-text {
    cursor:default;
    display:inline-block;
  }

#subtractYear {
  margin-left: 1vw;
}

  #delimiter {
    font-weight: 100;
    margin-left: -0.2vw;
    margin-right: -0.2vw;
  }

  label, #maxYearOptions-button {
    background-color: #40A4DF;
    border: 3px solid #fff;
    border-radius: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2vw;
    height: 1vw;
    margin: 1vw;
    padding: 15px 30px 15px 30px;
    position: relative;
    text-align: center;
    transition: background-color .2s, box-shadow .2s;
    user-select: none;
    white-space: nowrap;
    width: 12vw;
    /*font-size: 20px;*/
    /*margin: 20px;*/
  }

  button {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 15px 30px 15px 23px;
    line-height: 1px;
    position: relative;
    text-align: center;
    transition: background-color .2s, box-shadow .2s;
    user-select: none;
    white-space: nowrap;
    width: 100px;
  }

  button:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, .7);
  }

  button:active {
    border-style: outset;
  }

  .buttonSelected {
    background-color: #40A4DF;
  }

  .buttonUnselected {
    background-color: #003d4d;
  }

#metricButton {
  position: absolute;
  right: 60px;
  top: 0; /* Added to position the button relative to the top */
  border-radius: 0 12px 0 0; /* Correct border-radius order for a top-right rounded corner */
  background-color: #333; /* Added background color for visibility */
  padding: 10px 20px; /* Added padding for better button size and click area */
  color: white; /* Set text color to white for contrast */
  cursor: pointer; /* Added pointer cursor to indicate it's clickable */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}


#englishButton {
  position: absolute;            /* Ensures button is positioned relative to the nearest positioned ancestor */
  left: 50%;                     /* Position button halfway across the parent element */
  transform: translateX(-50%);   /* Offset the button's left edge by half of its width, to fully center it */
  border-radius: 12px;           /* Rounded corners */
  border: 2px solid white;       /* White border */
  padding: 10px 20px;            /* Padding inside the button */
  background-color: #333;        /* Dark gray background */
  color: white;                  /* White text */
  cursor: pointer;               /* Pointer cursor to indicate it's clickable */
  text-align: center;            /* Center the text inside the button */
  font-size: 16px;               /* Set a font size for better readability */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
}


  label:hover,
  input:focus+label {
    box-shadow: 0 0 30px rgba(255, 255, 255, .7);
  }

  input:checked+label {
    background-color: #003d4d;
  }

   .plusMinus {
    cursor: default;
    display: inline-block;
    /*width: 20px;*/
   }

   .plusMinus:hover {
    color: #990033;
   }

  #maxYearOptions-button {
    border-radius: 0px;
  }

  #hotkeySets, #progressBarSets {
    border: 5px solid white;
    border-radius: 25px;
  }

  #hotkeyAggregateTool {
    width: 50%;
  }

#progressBarAggregateTool {
    width: 750px;
  }

  #hk1, #itemTitles {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }


 /* This is where you update to make the hokey aggregate tool look nice. Change #hk_ to the last hotkey*/
  #hk18, #pb16 {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  /* The following two CSS tags, #closeOptions and #closeDiv, are added for exit button on Intructor Options page.
   * For more information refer to Issue 362.
  */
  #closeOptions {
    position: absolute;
    width: 3vw;
    right: 5%;
    top: 5%;
  }

  #closeDiv:hover {
    cursor: pointer;
  }

/* The next two tags make the "SAVE & EXIT", and the "RESE%T OPTIONS" stay in the bottom right corner permanently
*/
  #exitOptionsButton{
    position: fixed;
    width: 12vw;
    bottom:100px;
    right:30px;
  }

  #resetOptionsPage{
    position: fixed;
    width: 12vw;
    bottom: 20px;
    right: 30px;
  }

  #progressBarAggregateTool {
    position: relative;
    left: 3%;
  }

  #itemTitles {
    overflow: auto;
    background: #2d5986;
  }

  #maxTitle, #minTitle, #actualMinTitle, #actualMaxTitle {
    text-indent: 0;
  }

  .hoverInfo {
    position: absolute;
    right: -16vw;
    /* background-image: url(.././imgs/consoleTexture.png); */
    background-color: #0f4d70;
    border: 5px solid white;
    border-radius: 12px;
    padding-top: 5px;
    padding-bottom: 8px;
    color: white;
    text-align: center;
    width: 15vw;
    height: auto;
  }

#tableDescrip {
  color: white;
  text-align: center;
  margin: 10px 15px 10px 15px;
  font-size: 20px;
}

#metricUnit {
  right: 0vw;
}

#englishUnit {
  right: 2vw;
}

.blockContainer {
  width:100%;
  display: inline;
  height:20px;
  left:50px;
  font-size:25px;
  color:#fff;
  position:relative;
}
