/* css variable declaration */

:root {
  --button-font-size: 2.5vw;
  /* 20px */
  --button-height: 1vw;
  --button-width: 12vw;
  /* 250px */
  --font-size: 1.2vw;
  /*--transition-duration: 0.4s;*/
}

body {
  background-color: #000000;
}


/** Options Frame
  -------------------------
  **/

  #optionsBackroundImage {
   bottom: 0px;
   left: 0px;
   margin: 0px;
   padding: 0px;
   position: fixed;
   width: 100%;
  }

  #exitOptionsButton {
    margin-left: 5%;
   margin-top: 5%;
   width: 12vw;
  }

#resetOptionsPage{
    margin-left: 30%;
   margin-top: 5%;
   width: 12vw;
}

  #optionsMainHolder {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   margin: 0px 15% 0px 15%;
   top: 0px;
   padding-bottom: 0px;
   position: absolute;
  }

  .optionsSubContainer {
   position: relative;
   margin: 30px;
   margin-top: 0px;
  }



  .optionsHeader {
   color: #FFFFFF;
   font-family: 'Amatic SC', cursive;
   font-size: 35px;
   font-weight: bold;
   margin-left: 45px;
   margin-right: 45px;
   padding: 5px;
   width: 600px;
  }

  input {
    position: absolute;
    left: -9999px;
    color: white;
  }

  .hkInputs1, .minInput {
    position: absolute;
    left: 72%;
    border: 0;
    color: white;
  }

  .hkInputs2, .maxInput {
    position: absolute;
    left: 85%;
    border: 0;
    color: white;
  }

  .hkDivs, .progressbarItems {
    position: relative;
    height: 25px;
    text-indent: 5%;
    color: white;
  }

  .maxYearOptions-text {
    cursor:default;
    display:inline-block;
  }

#subtractYear {
  margin-left: 1vw;
}

  #delimiter {
    font-weight: 100;
    margin-left: -0.2vw;
    margin-right: -0.2vw;
  }

  label, #maxYearOptions-button {
    background-color: #40A4DF;
    border: 3px solid #fff;
    border-radius: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2vw;
    font-size: var(--font-size);
    height: 1vw;
    height: var(--button-height);
    margin: 1vw;
    padding: 15px 30px 15px 30px;
    position: relative;
    text-align: center;
    transition: background-color .2s, box-shadow .2s;
    user-select: none;
    white-space: nowrap;
    width: 12vw;
    width: var(--button-width);
    /*font-size: 20px;*/
    /*margin: 20px;*/
  }

  label:hover,
  input:focus+label {
    box-shadow: 0 0 30px rgba(255, 255, 255, .7);
  }

  input:checked+label {
    background-color: #003d4d;
  }

   .plusMinus {
    cursor: default;
    display: inline-block;
    /*width: 20px;*/
   }

   .plusMinus:hover {
    color: #990033;
   }

  #maxYearOptions-button {
    border-radius: 0px;
  }

  #hotkeySets, #progressBarSets {
    border: 5px solid white;
    border-radius: 25px;
  }

  #hotkeyAggregateTool, #progressBarAggregateTool {
    width: 50%;
  }

  #hk1, #itemTitles {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  #hk12, #pb16 {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  /* The following two CSS tags, #closeOptions and #closeDiv, are added for exit button on Intructor Options page.
   * For more information refer to Issue 362.
  */
  #closeOptions {
    position: absolute;
    width: 3vw;
    right: 5%;
    top: 5%;
  }

  #closeDiv:hover {
    cursor: pointer;
  }

  #progressBarAggregateTool {
    position: relative;
    left:22%;
  }

  #itemTitles {
    overflow: auto;
    background: #2d5986;
  }

  #maxTitle, #minTitle {
    text-indent: 0;
  }
