/**
 * @Last modified time: 2017-06-05T14:30:54-05:00
 */


/* css variable declaration */

 :root {
  --class-font-size: 1.4vmax;
  --font-size: 1vmax;
  --legend-font-size: 1.4vmax;
  --tab-image-length: 2vw;
  --tab-height: 2vw;
  --tab-width: 8vw;
  --title-font-size: 3.5vmax;
  --title-font-weight: 900;
  --transition-duration: 0.4s;
}

body {
  font-size: 1vw;
  font-size: var(--font-size);
}


/** Results Table Styling  **/

.resultsTable {
  border-collapse: collapse;
  border-bottom: 4px ridge #ddd;
  margin: 10px;
  width: 100%;
  table-layout: fixed;
}

td {
  border-bottom: 0px solid #ddd;
  padding: 5px;
}

th {
  border-bottom: 2px solid #ddd;
  padding: 5px;
}

.tableHeading {
  border-bottom: 0px;
}

.tableHeading:hover {
  background: rgba(256, 256, 256, 0);
}

.verticalLine {
  border-right: 1px solid black;
}

.leftText{
    text-align: left;
}

.rightText{
  text-align: right;
}

.centerText{
  text-align: center;
}

tr:hover {
  background-color: rgba(154, 173, 163, 0.5);
}


/** Main page styling **/

.tab img, .tabSelected img {
  width: 2vw;
  width: var(--tab-image-length);
}

.tab, .tabSelected {
  background-color: rgba(40, 44, 42, 0.03);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .6);
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 2vw;
  height: var(--tab-height);
  line-height: 0%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 8vw;
  width: var(--tab-width);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, */
}

.tabSelected {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}


/*When you hover over either tab, it will turn a slightly darker color
*/

.tab:hover {
  background-color: rgba(40, 44, 42, 0.1);
}

#tab1 .tab1text {
  visibility: hidden;
  font-size: small;
  width: 60px;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 90%;
}


/* When selected and hovered*/

#tab2 .tab2text {
  visibility: hidden;
  font-size: small;
  width: 60px;
  color: #000;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 70%;
  right: 90%;
}

/* When selected and hovered*/

 #tab3 .tab3text {
  visibility: hidden;
  font-size: small;
  width: 60px;
  color: #000;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 70%;
  right: 90%;
}



/*Graphics
*/

#tab1:hover .tab1text {
  visibility: visible;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: static;
  top: 18.3%;
  right: 88%;
}


/*Tables
*/

#tab2:hover .tab2text {
  visibility: visible;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: static;
  top: 19%;
  left: 23.5%;
}

/*Economics
*/

 #tab3:hover .tab3text {
  visibility: visible;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: static;
  top: 19%;
  left: 23.5%;
}

#centralContentHolder {
  display: inline-block;
  border-top: 2px solid black;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#innerContainer {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


/** Graphics elements for first tab **/

.graph-svg-component {
  margin: 0px;
}

.legend {}

.ecoLegend {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.arc {
  opacity: 1;
}

.arcHighlight {
  opacity: 0.5;
}

.graph-section {
  /*border: 3px solid #6ac5ac;*/
  height: 40%;
  margin: 5% auto;
}

.mouseoverInfo, .mouseoverInfoRadarRight, .mouseoverInfoRadarLeft {
  background-color: #000000;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 0px -2px 10px 5px rgba(0, 0, 0, 1);
  color: #FFFFFF;
  display: none;
  font-size: 22px;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 20px;
  opacity: 0.9;
  padding: 15px;
  position: absolute;
  text-align: center;
  width: 260px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 2px 2px 10px 5px #616161;
  -moz-box-shadow: 2px 2px 10px 5px #616161;
  z-index: 100;
}

.mouseoverInfoRadarRight {
  margin-left: 490px;
  margin-top: -160px;
}

.mouseoverInfoRadarLeft {
  margin-left: -315px;
  margin-top: -160px;
}

.mouseoverInfo:after {
  border-style: solid;
  border-width: 0 17px 15px;
  border-color: #000000 transparent;
  content: "";
  display: block;
  left: 130px;
  position: absolute;
  top: -15px;
  width: 0;
  z-index: 1;
}

#graphics {
  display: block;
  margin: 1%;
}


#graphContainer {
  padding-bottom: 50px;
  left: 25%;
  padding-left: 25%;
}

#graphContainerRev {
  padding-bottom: 5%;
  left: 25%;
  padding-left: 25%;
}

#contentsG {
  height: 100%;
  left: 25%;
  position: absolute;
  /*width: 800px;*/
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                              not supported by any browser */
}


#econ {
  height: 100%;
  display: inline-block;
  /*width: 800px;*/
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                              not supported by any browser */
}

#accordionContainer {
  display: inline-block;
  width: 75%;
  padding-bottom: 100px;

}

#yearHolder {
  /*border: 3px solid #fdc72f;*/
  display: inline-block;
  float: left;
  height: 98%;
  width: 23.3%;
}

#landusePieChart {
  /*border: 3px solid #d64078;*/
  display: inline-block;
  height: 98%;
  position: relative;
  width: 75%;
}

.upArrow, .upArrowDisabled, .downArrow, .downArrowDisabled {
  border-radius: 20px;
  border-style: solid;
  height: 0;
  position: relative;
  width: 0;
}

.upArrow, .upArrowDisabled {
  border-width: 0 20px 30px 20px;
  margin-top: 20%;
}

.upArrow {
  border-color: transparent transparent #000000 transparent;
  -webkit-transform: rotate(360deg);
  opacity: 1;
}

.upArrow:hover {
  opacity: 0.6;
  cursor: pointer;
}

.upArrowDisabled {
  border-color: transparent transparent #c9c9d1 transparent;
}

.downArrow, .downArrowDisabled {
  border-width: 30px 20px 0 20px;
  margin-top: 6px;
}

.downArrowDisabled {
  border-color: #c9c9d1 transparent transparent transparent;
}

.upArrowDisabledEcon {
  border-color: #c9c9d1 transparent transparent transparent;
}

.downArrowDisabledEcon {
  border-color: #c9c9d1 transparent transparent transparent;
}


.downArrow {
  border-color: #000000 transparent transparent transparent;
  opacity: 1;
  -webkit-transform: rotate(360deg);
}

.downArrow:hover {
  opacity: 0.6;
  cursor: pointer;
}

.barData {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

#precipChart {
  background-color: rgba(40, 44, 42, 0.1);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .6);
  display: inline-block;
  float: left;
  height: 90%;
  width: 60%;
}

text {
  cursor: default;
}

.precipInfo {
  background-color: rgba(40, 44, 42, 0.1);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .6);
  display: inline-block;
  float: left;
  height: 90%;
  margin: 0px;
  width: 35%;
}

#precipTitle {
  background-color: rgba(40, 44, 42, 0.1);
  display: inline-block;
  color: #000000;
  float: left;
  height: 90%;
  margin: 0px;
  width: 5%;
}
#PrecipitationTitle{
  left: 64%;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  bottom: 10%;
}
#precipTitle img {
  height: 100%;
  width: 100%;
}


.yearLabel, .precipValue, .precipType {
  font-weight: bold;
  margin-top: 10px;
  line-height: 120%;
  text-align: center;
}

.leftPrecipContainer {
  display: inline-block;
  float: left;
  margin-top: 8%;
  width: 58%;
}

.precipImg {
  display: inline-block;
  height: 8vw;
  margin-top: 1.9vw;
  width: 40%;
}

.displaynone {
  display:none;
}

.blueheader{
  background    : #2fceed;
  text-align    : center;
  padding       : 0px;
  margin        : 0px;
}

.roundedBorder3{
  border-radius : 5px;
  border        : 2px solid black;
  width         : 30%;
  float         : left;
  padding       : 0px;
  margin        : 10px;
}

.optionsRow{
  margin-left   : 3px;
  margin-right  : 3px;
  height        : 20px;
}

.optionsRowGraphic3{
  margin-left   : 3px;
  margin-right  : 3px;
  height        : 20px;
}

#toggleYearPie {
  background-color: rgba(40, 44, 42, 0.03);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .6);
  cursor: pointer;
  font-size: 1.4vw;
  font-size: var(--class-font-size);
  font-weight: bold;
  height: 15%;
  line-height: 200%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 42%;
  transition-duration: 0.4s;
  width: 70%;
  -webkit-transition-duration: 0.4s;
}

#toggleYearPie:hover {
  background-color: rgba(40, 44, 42, 0.1);
}
#yearText{
  right: 50%;
  font-size: 20px;
  font-weight: bold;
}

#landUseTitle{
  /*
  * The value for "left" was changed to have the title more centered in the mupltiplayer results page,left was previously "64%"
  * For more information refer to Issue 386.
  * changed left value from 35 to 29 , font-size from 20 to 30 10:35 am 5/22 Issue 474
  */
  left: 29%;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

#landUseTitleEconCost{
  /*
  * The value for "left" was changed to have the title more centered in the mupltiplayer results page,left was previously "64%"
  * For more information refer to Issue 386.
  * changed left value from 35 to 29 , font-size from 20 to 30 10:35 am 5/22 Issue 474
  */
  left: 23%;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}
#landUseTitleEconRev{
  /*
  * The value for "left" was changed to have the title more centered in the mupltiplayer results page,left was previously "64%"
  * For more information refer to Issue 386.
  * changed left value from 35 to 29 , font-size from 20 to 30 10:35 am 5/22 Issue 474
  */
  left: 22%;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

#landUseTitleMulti{
  /*
  * The title in results page for Land-Use for multi player mode
  */
  left: 5%;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

#asterChart {
  display: block;
  float: left;
  margin-top: 40px;
  height: 400px;
  width: 360px;
  overflow: hidden;
}

#asterHUD {
  display: block;
  margin-top: 40px;
  float: left;
  width: 320px;
  height: 400px;
  /** FOR NOW, DELETE LATER **/
  margin-bottom: 200px;
}

#asterContainer {
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .6);
  display: block;
  height: 200px;
  margin-top: 80px;
  margin-left: 10px;
  padding: 0px;
  width: 300px;
}

#yearHolder2 {
  display: inline-block;
  float: left;
  height: 400px;
  margin: 0px;
  margin-top: 40px;
  width: 16vw;
}

#yearDownESI, #yearUpESI {
  margin-left: 40px;
}

#precipSection {
  height: 20%;
}

#radarContainer, #yieldRadarContainer {}

#yieldRadarContainer {}

#radarChart, #yieldRadarChart {
  /*border: 3px solid #d64078;*/
  float: left;
  height: 98%;
  width: 60%;
}

#radarLegend {
  /*border: 3px solid #fdc72f;*/
  display: inline-block;
  float: left;
  height: 98%;
  margin: 0px;
  padding: 0px;
  width: 38.3%;
}

#radarLegend svg g g {
  margin: 30% 0;
}

#yieldRadarLegend {
  /*border: 3px solid #fdc72f;*/
  display: inline-block;
  float: left;
  height: 98%;
  width: 38.3%;
}

.tooltip{
  position      : absolute;
  text-align    : center;
  padding       : 8px;
  border        : none;
  border-radius : 8px;
  margin-top    : -30px;
  background    : black;
  color         : white;
  pointer-events: none;
  opacity:      : .7;
}

.button{
  width         : 6vw;
  margin-top    : 10px;
  margin-bottom : 10px;
  padding       : 8px;
  border        : black;
  border-radius : 2px;
  background    : #003d4d;
  color         : white;
}

.button.selected{
  background    : #40A4DF;
}


.button:hover{
  cursor        : pointer;
  box-shadow: 0 0 30px rgba(0, 255, 255, .5);
}

.graphic4landuse, .graphic5Year, .graphic5LineSelection{

  font-size: 25px;
  background-color: skyblue;
  border-radius: 4px;
  text-align: center;
}
#costSelector select{
  font-size: 20px;
  background-color: skyblue;
  width: 218px;
  text-align: center;
  border:none;
  border-radius: 4px;
  width:100%;
}

.graphic4option, .graphic5lineOption, .graphic5YearSelection,.grahpic4YearSelection{
  height: 20px;
}
.yAxisRight g text{
  fill: #3182bd;
}
/*
#container {
  border: 3px solid #6ac5ac;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  width: 74%;
}

#left {
  -webkit-flex: 1;
  flex: 1;
  border: 3px solid #fdc72f;
}

#right {
  -webkit-flex: 3;
  flex: 3;
  border: 3px solid #d64078;
}


#results-header {
  position: static;
}

#yearArrows {
  top: 25%;
}

#timeActionArrows {
  width: auto;
  height: auto;
  float: left;
  top: 50%;
}


@media screen and (max-width: 768px) {
  /*<= 768px */
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* 768px ~ 992px */
}

@media screen and (min-width: 1200px) {
  /* >= 1200px */
}

* {
  text-decoration: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

 ul {
  list-style: none;
  padding: 0;
}

 ul .inner {
  width: 95%;
  padding-left: 1em;
  overflow: hidden;
  display: none;
}
ul table{
  table-layout: fixed;
  width: 85%;
}

 ul li {
  margin: .5em 0;
}

 ul li a.toggle {
  width: 85%;
  display: block;
  /* background: rgba(0,0,0,0.78); */
  background: #969696;
  color: #fefefe;
  padding: .75em;
  border-radius: 0.15em;
  transition: .3s ease;
}

 ul li a.toggle:hover {
  background: rgba(0, 0, 0, 0.78);
}

 #plus:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}

 #minus:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}

 .leftE {
  width: 250px;
  left: 25%;
  display: inline-block;
  vertical-align: bottom;
}

 .rightE {
  height: 400px;
  width: 445px;
  display: inline-block;
  vertical-align: top;
}


 /* #yearUpEcon {
  left: 25%
}
 #yearDownEcon {
  left: 25%
} */

 #yearTextEcon {
  font-size: 20px;
  font-weight: bold;
}

 #accordionContainer2 {
  width: 600px;
}
