/**
 * @Date:   2017-06-01T16:49:42-05:00
 * @Last modified time: 2017-06-05T14:40:45-05:00
 */



* {
  -webkit-touch-callout: auto;
  /* iOS Safari */
  -webkit-user-select: auto;
  /* Chrome/Safari/Opera */
  -khtml-user-select: auto;
  /* Konqueror */
  -moz-user-select: auto;
  /* Firefox */
  -ms-user-select: auto;
  /* Internet Explorer/Edge */
  user-select: auto;
  /* Non-prefixed version, currently not supported by any browser */
}

body {
  background-color: #323b39;
  background-image: url("./imgs/concrete-wall-2.png");
  background-repeat: repeat;
  overflow: hidden;
}

#mainContainer {
  background-color: #40A4DF;
  background-image: url("./imgs/cartographer.png");
  background-repeat: repeat;
  border-radius: 40px;
  bottom: 0;
  box-shadow: 0px -2px 20px 8px rgba(0, 0, 0, 1);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-shadow: 0px -2px 20px 8px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px -2px 20px 8px rgba(0, 0, 0, 1);
  /*
  height: 105%;
  left: 50%;
  margin-left: -32%;
  top: 50%;
  margin-top: -18%;
  width: 105%;
  height: 700px;
  margin-left: -500px;
  margin-top: -350px;
  width: 1000px;
  */
}

#leftContainer {
  background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(40, 97, 161, 0.7) 3%, rgba(78, 136, 193, 0.7) 15%, rgba(125, 185, 232, 0.58) 30%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(40, 97, 161, 0.7) 3%, rgba(78, 136, 193, 0.7) 15%, rgba(125, 185, 232, 0.58) 30%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(40, 97, 161, 0.7) 3%, rgba(78, 136, 193, 0.7) 15%, rgba(125, 185, 232, 0.58) 30%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  cursor: default;
  float: left;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8', GradientType=0);

  background: -moz-linear-gradient(center top , #1e5799, #7db9e8) repeat scroll 0 0 transparent;
   /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#1e5799), to(#7db9e8));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #1e5799, #7db9e8);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#1e5799, endColorstr=#7db9e8, GradientType=0);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1e5799, endColorstr=#7db9e8, GradientType=0)";

  height: 85.7%;
  /*margin: 7.1% 5% 7.1% 2.5%;*/
  margin: 5% 5% 5% 2.5%;
  width: 40%;
  /*
  height: 600px;
  margin: 50px 50px 50px 25px;
  padding: 0px;
  width: 400px;
  */
}

#glossaryHolder {
  height: 91.6%;
  overflow: auto;
  /*height: 550px;*/
}

#topicsHeader {
  background-color: rgba(30, 87, 153, .5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #FFFFFF;
  font-family: 'Amatic SC', cursive;
  /*font-size: 38px;*/
  /*font-size: 200%;*/
  font-size: 9vmin;
  font-weight: bold;
  height: 10%;
  line-height: 90%;
  margin-bottom: 3.3%;
  margin-left: 10%;
  padding-top: .8%;
  text-align: center;
  width: 80%;
  /*
  height: 40px;
  margin-bottom: 20px;
  padding-top: 5px;
  */
}

.subHolder {
  background-color: rgba(30, 87, 153, .2);
  display: block;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition-duration: .5s;
  /* Safari */
  transition-duration: .5s;
}

.groupHeader, .groupElement, .selectedGroupHeader, .selectedGroupElement {
  color: #FFFFFF;
  cursor: pointer;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  /*font-size: 20px;*/
  /*font-size: 80%;*/
  font-size: 3.3vmin;
  font-weight: bold;
  /* height: 2.5vw; */
  padding-top: 0.2vw;
  height: auto;
  /*height: 5%;*/
  /*padding-top: .8%;*/
  /*
  height: 30px;
  padding-top: 5px;
  */
}

.groupHeader {
  background-color: rgba(30, 87, 153, 0);
  border-radius: 5px;
}

.groupHeader:hover, .groupElement:hover {
  background-color: rgba(192, 192, 192, .5);
  border: 2px solid gray;
}

.groupElement {
  background-color: rgba(255, 255, 102, 0);
  border-radius: 0px;
}

.selectedGroupHeader {
  background-color: rgba(30, 87, 153, .8);
}

.selectedGroupHeader:hover {
  background-color: rgba(192, 192, 192, .5);
}

.selectedGroupElement {
  background-color: rgba(255, 255, 102, 0.5);
  border-radius: 0px;
}

img {
  width: 100%;
  height: 100%;
}

#rightContainer {
  float: left;
  height: 92.8%;
  margin: 3.6% 2.5% 3.6% 0;
  width: 50%;
  /*
  height: 650px;
  margin: 25px 25px 25px 0px;
  padding: 0px;
  width: 500px;
  */
}

#square1 {
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0px -2px 25px 1px rgba(0, 0, 0, 1);
  height: 46.2%;
  overflow: hidden;
  width: 100%;
  /*
  height: 300px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 500px;
  */
}

#square1 iframe {
  height: 100%;
  width: 100%;
}

#title {
  color: #FFFFFF;
  font-family: 'Amatic SC', cursive;
  /*font-size: 35px;*/
  font-size: 120%;
  font-weight: 900;
  height: 5.3%;
  line-height: 130%;
  padding-right: 4%;
  position: absolute;
  text-align: right;
  top: 50.7%;
  width: 50%;
  /*width: 96%;*/
  /*
  height: 35px;
  padding-right: 20px;
  top: 330px;
  width: 480px;
  */
}

#square2 {
  background-color: rgba(40, 97, 161, 0);
  background-image: url("./imgs/cornerDec.png");
  background-repeat: no-repeat;
  height: 46.2%;
  margin-top: 7.7%;
  width: 100%;
  /*
  height: 300px;
  margin-top: 50px;
  width: 500px;
  */
}

#square2frame {
  border: 0px;
  float: right;
  height: 90%;
  margin-top: 3%;
  padding-right: 2%;
  width: 93%;
  /*
  height: 270px;
  margin-top: 20px;
  padding-right: 10px;
  width: 465px;
  */
}

.switchContentDepth, .switchContentDepthSelected {
  background-color: rgba(0, 0, 0, 0.7);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  color: #FFFFFF;
  cursor: default;
  display: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  /*font-size: 20px;*/
  font-size: 76%;
  /*height: 25px;*/
  /*left: 414px;*/
  height: 3.6%;
  left: 41.4%;
  line-height: 120%;
  position: absolute;
  text-align: center;
  transform: rotate(-90deg);
  /*width: 100px;*/
  width: 10%;
}

.switchContentDepthSelected {
  background-color: rgba(0, 61, 77, 0.5);
  -webkit-transition-duration: .5s;
  /* Safari */
  transition-duration: 0.5s;
}

.switchContentDepth:hover {
  background-color: rgba(0, 0, 90, 1);
  cursor: pointer;
}

#switchAdvanced {
  /*top: 590px;*/
  top: 86.3%;
}

#switchGeneral {
  /*top: 480px;*/
  top: 67.6%;
}

.closeButton {
  cursor: pointer;
  height: 5.7%;
  position: absolute;
  width: 4%;
  transition-duration: 0.1s;
  /* Safari */
  -webkit-transition-duration: 0.1s;
  /*
    height:40px;
    width:40px;
    */
}

.closeButton:hover {
  height: 5%;
  margin-right: 2px;
  margin-top: 2px;
  width: 3.5%;
  -webkit-transition-duration: 0.1s;
  /* Safari */
  transition-duration: 0.1s;
  /*
  height: 35px;
  width: 35px;
  */
}

#closeGlossary {
  position: fixed;
  top: 1.4%;
  right: 1%;
  /*top: 10px;
  right: 10px;*/
}
